<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Use this if you want the database to be stored in the current user working directory -->
    <!--<add name="ReferatsDatabase"
         connectionString="Server=(localdb)\mssqllocaldb;Database=ReferatsDB;Trusted_Connection=True;" />-->
    
    <!--Use this if you want the database to be stored in path\to\project\db directory>-->
    <!-- ATTENTION. You have to use the absolute path to the database file. Relative paths does not work. -->
    <!--<add name="ReferatsDatabase"
         connectionString="Server=(localdb)\mssqllocaldb;Database=ReferatsDB;AttachDbFilename=E:\PROJECTS\Seredin\ReferatsDownloader\ReferatsDownloader\db\ReferatsDB.mdf;Trusted_Connection=True;" />-->
    <add name="ReferatsDatabase"
         connectionString="Server=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\DATA\Alexzander\db\ReferatsDB.mdf;Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>

  
</configuration>